In [1]:
import pickle
with open('data.pkl','rb') as file:
    train_data=pickle.load(file)
train_data.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,Customer Full Name,order_year,order_month,order_week_day,order_hour,order_month_year
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,327.75,0,2/3/2018 22:56,Standard Class,CallyHolloway,2018,1,2,22,2018-01
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,327.75,0,1/18/2018 12:27,Standard Class,IreneLuna,2018,1,5,12,2018-01
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,327.75,0,1/17/2018 12:06,Standard Class,GillianMaldonado,2018,1,5,12,2018-01
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,327.75,0,1/16/2018 11:45,Standard Class,TanaTate,2018,1,5,11,2018-01
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,327.75,0,1/15/2018 11:24,Standard Class,OrliHendricks,2018,1,5,11,2018-01

In [2]:
import numpy as np
train_data['fraud'] = np.where(train_data['Order Status']=='SUSPECTED_FRAUD',1,0)
train_data['fraud']
train_data['fraud'].sum()

4062

In [3]:
train_data['fraud'].sum()
train_data['late_delivery'] = np.where(train_data['Delivery Status']=='Late delivery',1,0)
train_data['late_delivery']
train_data['late_delivery'].sum()

98977

In [4]:
categorical_cols = train_data.select_dtypes(include='object').columns
categorical_cols

Index(['Type', 'Delivery Status', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Department Name', 'Market',
       'Order City', 'Order Country', 'Order Region', 'Order State',
       'Order Status', 'Product Image', 'Product Name',
       'shipping date (DateOrders)', 'Shipping Mode', 'Customer Full Name'],
      dtype='object')

In [5]:
train_data.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode',
       'Customer Full Name', 'order_year', 'order_month', 'order_week_day',
       'order_hour', 'order_month_year', 'fraud', 'late_delivery'],
      dtype='object')

In [6]:
for col in train_data.columns:
    if len(train_data[col].value_counts())<2:
        print(col)

Customer Email
Customer Password
Product Description
Product Status

In [7]:
print(len(train_data.columns))
train_data.drop(['Customer Email','Customer Password',\
                 'Product Description','Product Status',\
                'Product Image','Customer Lname','Customer Fname'],\
               axis=1,inplace=True)

print(len(train_data.columns))

61
54

In [8]:
train_data.drop(['Order Customer Id','Order Item Cardprod Id','Order Item Id','Sales per customer',\
                 'Order Item Total','Order Profit Per Order','Product Card Id',\
                 'Product Category Id', 'Product Price', 'Order Zipcode',\
                'shipping date (DateOrders)','Latitude','Longitude','Customer Street','order date (DateOrders)',\
                 'order_month_year','Order Status','Delivery Status',\
                'Late_delivery_risk'], axis=1, inplace=True)

In [9]:
categorical_cols = train_data.select_dtypes(include='object').columns
categorical_cols

Index(['Type', 'Category Name', 'Customer City', 'Customer Country',
       'Customer Segment', 'Customer State', 'Department Name', 'Market',
       'Order City', 'Order Country', 'Order Region', 'Order State',
       'Product Name', 'Shipping Mode', 'Customer Full Name'],
      dtype='object')

In [10]:
train_data[categorical_cols]

,Type,Category Name,Customer City,Customer Country,Customer Segment,Customer State,Department Name,Market,Order City,Order Country,Order Region,Order State,Product Name,Shipping Mode,Customer Full Name
0,DEBIT,Sporting Goods,Caguas,Puerto Rico,Consumer,PR,Fitness,Pacific Asia,Bekasi,Indonesia,Southeast Asia,Java Occidental,Smart watch,Standard Class,CallyHolloway
1,TRANSFER,Sporting Goods,Caguas,Puerto Rico,Consumer,PR,Fitness,Pacific Asia,Bikaner,India,South Asia,RajastÃ¡n,Smart watch,Standard Class,IreneLuna
2,CASH,Sporting Goods,San Jose,EE. UU.,Consumer,CA,Fitness,Pacific Asia,Bikaner,India,South Asia,RajastÃ¡n,Smart watch,Standard Class,GillianMaldonado
3,DEBIT,Sporting Goods,Los Angeles,EE. UU.,Home Office,CA,Fitness,Pacific Asia,Townsville,Australia,Oceania,Queensland,Smart watch,Standard Class,TanaTate
4,PAYMENT,Sporting Goods,Caguas,Puerto Rico,Corporate,PR,Fitness,Pacific Asia,Townsville,Australia,Oceania,Queensland,Smart watch,Standard Class,OrliHendricks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,Fishing,Brooklyn,EE. UU.,Home Office,NY,Fan Shop,Pacific Asia,ShanghÃ¡i,China,Eastern Asia,ShanghÃ¡i,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,MariaPeterson
180515,DEBIT,Fishing,Bakersfield,EE. UU.,Corporate,CA,Fan Shop,Pacific Asia,Hirakata,JapÃ³n,Eastern Asia,Osaka,Field & Stream Sportsman 16 Gun Fire Safe,Second Class,RonaldClark
180516,TRANSFER,Fishing,Bristol,EE. UU.,Corporate,CT,Fan Shop,Pacific Asia,Adelaide,Australia,Oceania,Australia del Sur,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,JohnSmith
180517,PAYMENT,Fishing,Caguas,Puerto Rico,Consumer,PR,Fan Shop,Pacific Asia,Adelaide,Australia,Oceania,Australia del Sur,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,MarySmith
180518,PAYMENT,Fishing,Caguas,Puerto Rico,Consumer,PR,Fan Shop,Pacific Asia,Nagercoil,India,South Asia,Tamil Nadu,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,AndreaOrtega

In [11]:
train_data = train_data.dropna(subset=['Customer Full Name'])

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for cat in categorical_cols:
    train_data[cat] = le.fit_transform(train_data[cat])
train_data[categorical_cols]

,Type,Category Name,Customer City,Customer Country,Customer Segment,Customer State,Department Name,Market,Order City,Order Country,Order Region,Order State,Product Name,Shipping Mode,Customer Full Name
0,1,40,66,1,0,36,4,3,331,70,15,475,78,3,1875
1,3,40,66,1,0,36,4,3,391,69,13,841,78,3,5374
2,0,40,452,0,0,5,4,3,391,69,13,841,78,3,4426
3,1,40,285,0,2,5,4,3,3226,8,11,835,78,3,12922
4,2,40,66,1,1,36,4,3,3226,8,11,835,78,3,10632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,18,59,0,2,31,3,3,2922,31,7,913,24,3,8421
180515,1,18,26,0,1,5,3,3,1362,77,7,770,24,2,11672
180516,3,18,55,0,1,7,3,3,25,8,11,88,24,3,6296
180517,2,18,66,1,0,36,3,3,25,8,11,88,24,3,9379
180518,2,18,66,1,0,36,3,3,2203,69,13,967,24,3,658

In [13]:
train_data.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Id', 'Customer Segment', 'Customer State',
       'Customer Zipcode', 'Department Id', 'Department Name', 'Market',
       'Order City', 'Order Country', 'Order Id', 'Order Item Discount',
       'Order Item Discount Rate', 'Order Item Product Price',
       'Order Item Profit Ratio', 'Order Item Quantity', 'Sales',
       'Order Region', 'Order State', 'Product Name', 'Shipping Mode',
       'Customer Full Name', 'order_year', 'order_month', 'order_week_day',
       'order_hour', 'fraud', 'late_delivery'],
      dtype='object')

In [14]:
numerical_columns = train_data.columns.tolist()
for x in categorical_cols.tolist():
    numerical_columns.remove(x)

In [15]:
numerical_columns

['Days for shipping (real)',
 'Days for shipment (scheduled)',
 'Benefit per order',
 'Category Id',
 'Customer Id',
 'Customer Zipcode',
 'Department Id',
 'Order Id',
 'Order Item Discount',
 'Order Item Discount Rate',
 'Order Item Product Price',
 'Order Item Profit Ratio',
 'Order Item Quantity',
 'Sales',
 'order_year',
 'order_month',
 'order_week_day',
 'order_hour',
 'fraud',
 'late_delivery']

In [16]:
x_fraud = train_data.loc[:, train_data.columns !='fraud']
y_fraud = train_data['fraud']
x_fraud

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,...,Order Region,Order State,Product Name,Shipping Mode,Customer Full Name,order_year,order_month,order_week_day,order_hour,late_delivery
0,1,3,4,91.250000,73,40,66,1,20755,0,...,15,475,78,3,1875,2018,1,2,22,0
1,3,5,4,-249.089996,73,40,66,1,19492,0,...,13,841,78,3,5374,2018,1,5,12,1
2,0,4,4,-247.779999,73,40,452,0,19491,0,...,13,841,78,3,4426,2018,1,5,12,0
3,1,3,4,22.860001,73,40,285,0,19490,2,...,11,835,78,3,12922,2018,1,5,11,0
4,2,2,4,134.210007,73,40,66,1,19489,1,...,11,835,78,3,10632,2018,1,5,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,4,4,40.000000,45,18,59,0,1005,2,...,7,913,24,3,8421,2016,1,5,3,0
180515,1,3,2,-613.770019,45,18,26,0,9141,1,...,7,770,24,2,11672,2016,1,5,1,1
180516,3,5,4,141.110001,45,18,55,0,291,1,...,11,88,24,3,6296,2016,1,4,21,1
180517,2,3,4,186.229996,45,18,66,1,2813,0,...,11,88,24,3,9379,2016,1,4,20,0
180518,2,4,4,168.949997,45,18,66,1,7547,0,...,13,967,24,3,658,2016,1,4,18,0

In [17]:
x_late = train_data.loc[:,train_data.columns!='late_delivery']
y_late = train_data['late_delivery']
x_late

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,...,Order Region,Order State,Product Name,Shipping Mode,Customer Full Name,order_year,order_month,order_week_day,order_hour,fraud
0,1,3,4,91.250000,73,40,66,1,20755,0,...,15,475,78,3,1875,2018,1,2,22,0
1,3,5,4,-249.089996,73,40,66,1,19492,0,...,13,841,78,3,5374,2018,1,5,12,0
2,0,4,4,-247.779999,73,40,452,0,19491,0,...,13,841,78,3,4426,2018,1,5,12,0
3,1,3,4,22.860001,73,40,285,0,19490,2,...,11,835,78,3,12922,2018,1,5,11,0
4,2,2,4,134.210007,73,40,66,1,19489,1,...,11,835,78,3,10632,2018,1,5,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,4,4,40.000000,45,18,59,0,1005,2,...,7,913,24,3,8421,2016,1,5,3,0
180515,1,3,2,-613.770019,45,18,26,0,9141,1,...,7,770,24,2,11672,2016,1,5,1,0
180516,3,5,4,141.110001,45,18,55,0,291,1,...,11,88,24,3,6296,2016,1,4,21,0
180517,2,3,4,186.229996,45,18,66,1,2813,0,...,11,88,24,3,9379,2016,1,4,20,0
180518,2,4,4,168.949997,45,18,66,1,7547,0,...,13,967,24,3,658,2016,1,4,18,0

In [18]:
from sklearn.model_selection import train_test_split
x_fraud_train, x_fraud_test, y_fraud_train, y_fraud_test = train_test_split(x_fraud, y_fraud, test_size=0.2)
x_late_train, x_late_test, y_late_train, y_late_test = train_test_split(x_late, y_late, test_size=0.2)

In [19]:
x_fraud_train.shape

(144408, 34)

In [20]:
from sklearn.preprocessing import StandardScaler
se = StandardScaler()
x_fraud_train = se.fit_transform(x_fraud_train)
x_fraud_test = se.transform(x_fraud_test)

x_late_train = se.fit_transform(x_late_train)
x_late_test = se.transform(x_late_test)

In [21]:
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score, f1_score, confusion_matrix
def model_stats(model, x_train, x_test, y_train, y_test, name='Fraud'):
    model= model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    accuracy = accuracy_score(y_pred, y_test)
    recall = recall_score(y_pred, y_test)
    auc = roc_auc_score(y_pred, y_test)
    f1= f1_score(y_pred, y_test)
    confusion = confusion_matrix(y_pred, y_test)
    
    print('Model used:' ,model)
    print('{} accuracy: {}%'.format(name, accuracy*100))
    print('{} recall: {}%'.format(name, recall*100))
    print('{} AUC: {}%'.format(name, auc*100))
    print('{} F1 Score: {}%'.format(name, f1*100))
    print('{} Confusion Matrix:\n{}'.format(name, confusion))
    return accuracy, recall, auc, f1

In [22]:
from sklearn.linear_model import LogisticRegression
model_fraud = LogisticRegression()
model_late = LogisticRegression()

model_stats(model_fraud, x_fraud_train, x_fraud_test, y_fraud_train, y_fraud_test, name='Fraud')
model_stats(model_late, x_late_train, x_late_test, y_late_train, y_late_test, name='Late Delivery')

/Users/Leigh/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

Model used: LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
Fraud accuracy: 97.9032213389469%
Fraud recall: 56.83229813664597%
Fraud AUC: 77.5525622485024%
Fraud F1 Score: 32.591273374888694%
Fraud Confusion Matrix:
[[35163   618]
 [  139   183]]
Model used: LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
Late Delivery accuracy: 98.8532808907847%
Late Delivery recall: 97.96969251140209%
Late Delivery AUC: 98.98484625570104%
Late Delivery F1 Score: 98.974435196195%
Late Delivery Confusion Matrix:
[[15712     0]
 [  414 19977]]

(0.988532808907847, 0.9796969251140208, 0.9898484625570104, 0.98974435196195)